<div class="jumbotron">
  <h1 class="display-5">Hello !</h1>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Créer une todolist</a>
  </p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4 col-4" *ngFor="let t of findAll()">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ t.title }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{t.date | date }}</h6>
          <a routerLink="todolist/{{t.id}}" class="btn btn-success">Voir plus</a>
        </div>
      </div>
    </div>
  </div>
</div>