<div class="container">
  <div class="buttons mb-4">
    <a routerLink="" class="btn btn-warning mt-2 mb-4 float-left"><i class="fas fa-arrow-circle-left"></i> Retour à l'accueil</a>
    <a (click)="onClickDelete(getTodolist().id)" class="btn btn-danger mt-2 mb-4 float-right"><i class="fas fa-trash"></i> Suppression</a>
  </div>

  <div class="todolist text-center mt-3">
    <h3 class="text-uppercase mt-4 mb-4">{{getTodolist().title}}</h3>
    <p><i class="fas fa-calendar-alt"></i>  {{getTodolist().date | date}}</p>

    <div class="tasks">
       <form  class="mt-2 mb-2" (ngSubmit)="onSubmit(taskForm, getTodolist().id)" #taskForm="ngForm">
        <input type="text" ngModel name="content" class="form-control" placeholder="Ajout d'une tâche...">
      </form>
      <hr>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let t of getTodolist().tasks">
          <a (click)="onClick(t, getTodolist().id)"><span *ngIf="t.done == false; else taskDone">{{t.content}}</span>
            <ng-template #taskDone>
              <span class="task-done"><i class="fas fa-check-circle"></i> <del>{{t.content}}</del></span>
            </ng-template>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
